:root {
  /* fonts */
  --main-font: "Manrope", sans-serif;
  /* text color */
  --main-txt-cl: #ffffff;
  --secondary-txt-cl: #797C86;
  --btn-color: #1C1C21;
  --transition-fast: 300ms ease-in-out;
  --transition-slow: 500ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  position: relative;
  background-color: #070708;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.subtitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  text-transform: capitalize;
  color: var(--secondary-txt-cl);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1596px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (max-width: 390px) {
  .container {
    max-width: 358px;
  }
}
.btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 15px 24px;
  border-radius: 10px;
  border: 1px solid #2F2F37;
  background: var(--btn-color);
  color: var(--main-txt-cl);
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
  transition: var(--transition-fast);
}

.link__purple {
  padding: 18px 50px;
  border-radius: 100px;
  background: #4A2CED;
  box-shadow: 4px 4px 17.4px 0px rgba(255, 255, 255, 0.28) inset;
}

.link__btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 16px 24px;
  border-radius: 10px;
  border: 1px solid #2F2F37;
  background: var(--btn-color);
  color: var(--main-txt-cl);
}

.curcle__btn {
  padding: 14px;
  border-radius: 100px;
  border: 1px solid #2F2F37;
  background: var(--btn-color);
}

@media only screen and (max-width: 1440px) {
  .link__purple {
    padding: 16px 40px;
  }
}
@media only screen and (max-width: 483px) {
  .link__purple {
    padding: 14px 30px;
  }
}
.header {
  padding-top: 30px;
  border-top: 1px solid var(--btn-color);
  border-bottom: 1px solid var(--btn-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
}

.header__item {
  padding: 30px 40px;
}

.header__item:first-child {
  border-right: 1px solid var(--btn-color);
  border-top: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
  border-top-left-radius: 15px;
}

.header__item:nth-child(2) {
  border-right: 1px solid var(--btn-color);
  border-top: 1px solid var(--btn-color);
}

.header__item:nth-child(3) {
  border-right: 1px solid var(--btn-color);
  border-top: 1px solid var(--btn-color);
}

.header__item:last-child {
  border-right: 1px solid var(--btn-color);
  border-top: 1px solid var(--btn-color);
  border-top-right-radius: 15px;
}

.header__item:hover,
.header__item:focus,
.header__link:hover,
.header__link:focus {
  color: var(--main-txt-cl);
  background: #131316;
  color: var(--main-txt-cl);
}

.header__link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #AFB0B6;
}

@media only screen and (max-width: 1024px) {
  .header__item {
    padding: 20px 15px;
  }
}
@media only screen and (max-width: 800px) {
  .header__item {
    padding: 25px 15px;
  }
  .header__burger {
    display: block;
  }
  .header__nav,
  .header__btn {
    display: none;
  }
}
.hero {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
}

.hero__wrapper {
  display: flex;
  align-items: start;
  gap: 10px;
}

.hero__svg {
  position: absolute;
  left: 40%;
  top: 0;
}

.hero__subtitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  text-transform: uppercase;
  color: #62646C;
}

.hero__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 150%;
  text-transform: uppercase;
  color: #E4E4E6;
}

.hero__text,
.work__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--main-txt-cl);
}

@media only screen and (max-width: 1440px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .hero__link-svg {
    width: 24px;
    height: 24px;
  }
  .hero__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }
  .hero__title {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 150%;
  }
  .hero__text,
  .work__text {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
  }
  .hero__svg {
    width: 262px;
    height: 262px;
  }
}
@media only screen and (max-width: 1150px) {
  .hero__svg {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 1135px) {
  .hero__svg {
    display: none;
  }
}
@media only screen and (max-width: 945px) {
  .hero__container {
    flex-direction: column;
    align-items: unset;
  }
}
@media only screen and (max-width: 483px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero__wrapper {
    align-items: end;
  }
  .hero__link-svg {
    width: 20px;
    height: 20px;
  }
  .hero__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }
  .hero__title {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
  }
  .hero__text,
  .work__text {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
  }
}
.example {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid var(--btn-color);
  border-bottom: 1px solid var(--btn-color);
  background: #0E0E10;
}

.example__list {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.example__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.example__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #D6D0FB;
  white-space: nowrap;
}

@media only screen and (max-width: 1440px) {
  .example__list {
    gap: 16px;
  }
  .example__item {
    gap: 6px;
  }
}
.photo {
  padding-bottom: 190px;
}

/*# sourceMappingURL=style.css.map */
