:root{
    /* fonts */
    --main-font: 'Manrope', sans-serif;
  
    /* text color */
    --main-txt-cl: #ffffff;
    --secondary-txt-cl: #797C86;
    --btn-color: #1C1C21;
  
    --transition-fast: 300ms ease-in-out;
    --transition-slow: 500ms ease-in-out;
  }