.hero{
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero__container{
    display: flex;
    justify-content: space-between;
    align-items: self-end;
}

.hero__wrapper{
    display: flex;
    align-items: start;
    gap: 10px;
}

.hero__svg{
    position: absolute;
    left: 40%;
    top: 0;
}

.hero__subtitle{
    font-family: var(--main-font);
    @include fonts(normal, 500, 22px, 150%);
    text-transform: uppercase;
    color: #62646C;
}

.hero__title{
    font-family: var(--main-font);
    @include fonts(normal, 600, 80px, 150%);
    text-transform: uppercase;
    color: #E4E4E6;
}

.hero__text,
.work__text{
    font-family: var(--main-font);
    @include fonts(normal, 600, 58px, 150%);
    text-transform: uppercase;
    color: var(--main-txt-cl);
}

@media only screen and (max-width: 1440px){
    .hero{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .hero__link-svg{
        width: 24px;
        height: 24px;
    }
    .hero__subtitle{
        @include fonts(normal, 500, 18px, 150%);
    }
    
    .hero__title{
        @include fonts(normal, 600, 60px, 150%);
    }

    .hero__text,
    .work__text{
        @include fonts(normal, 600, 48px, 150%);
    }

    .hero__svg{
        width: 262px;
        height: 262px;
    }
}

@media only screen and (max-width: 1150px){
    .hero__svg{
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 1135px){
    .hero__svg{
        display: none;
    }
}

@media only screen and (max-width: 945px){
    .hero__container{
        flex-direction: column;
        align-items: unset;
    }
}

@media only screen and (max-width: 483px){
    .hero{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .hero__wrapper {
        align-items: end;
    }

    .hero__link-svg{
        width: 20px;
        height: 20px;
    }

    .hero__subtitle{
        @include fonts(normal, 500, 14px, 150%);
    }
    
    .hero__title{
        @include fonts(normal, 600, 40px, 150%);
    }

    .hero__text,
    .work__text{
        @include fonts(normal, 600, 28px, 150%);
    }
}
