.btn{
    font-family: var(--main-font);
    @include fonts(normal, 500, 18px, 150%);
    padding: 15px 24px;
    border-radius: 10px;
    border: 1px solid #2F2F37;
    background: var(--btn-color);
    color: var(--main-txt-cl);
}

.btn:hover,
.btn:focus{
    opacity: 0.8;
    transition: var(--transition-fast);
}

.link__purple{
    padding: 18px 50px;
    border-radius: 100px;
    background: #4A2CED;
    box-shadow: 4px 4px 17.4px 0px rgba(255, 255, 255, 0.28) inset;
}

.link__btn{
    font-family: var(--main-font);
    @include fonts(normal, 500, 18px, 150%);
    padding: 16px 24px;
    border-radius: 10px;
    border: 1px solid #2F2F37;
    background: var(--btn-color);
    color: var(--main-txt-cl);
}

.curcle__btn{
    padding: 14px;
    border-radius: 100px;
    border: 1px solid #2F2F37;
    background: var(--btn-color);
}

@media only screen and (max-width: 1440px){
    .btn{
        @include fonts(normal, 500, 14px, 150%);
        padding: 14px 24px;
    }
    .link__purple{
        padding: 16px 40px;
        width: 24px;
        height: 24px;
    }

    .link__btn{
        @include fonts(normal, 500, 14px, 150%);
        padding: 14px 20px;
    }
}

@media only screen and (max-width: 483px){
    .link__purple{
        padding: 14px 30px;
        width: 20px;
        height: 20px;
    }
}