$paddingContainer: 20px;

.container{
    width: 100%;
    max-width: calc(1556px + $paddingContainer * 2);
    box-sizing: border-box;
  
    margin: 0 auto;
    padding: 0 $paddingContainer;
  }

  @media only screen and (max-width: 1440px){
    .container{
      max-width: calc(1240px + $paddingContainer * 2);
    }
  }

  @media only screen and (max-width: 390px){
    .container{
      max-width: calc(318px + $paddingContainer * 2);
    }
  }